
ul {
    margin: 0;
    padding: 0;
}
#addForm2 li {
    list-style-type: georgian;

}

ul li {
    
    border:solid chocolate 3px;
    height: 57px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    justify-content:end;
    font-size: 18px;

}

ul li:hover {
    background-color:lavender;
}


span {
    float: right;

}

.delete:hover {
    
    padding: 12px 16px 12px 16px;
    background-color: red;
    border-radius: 0px 7px 7px 0px;
}

.edit:hover {
    
    padding: 12px 16px 12px 16px;
    background-color:teal;
  
}

.delete {
    
    padding: 12px 16px 12px 16px;
    border-radius: 0px 7px 7px 0px;
}

.edit {
    padding: 12px 16px 12px 16px;
}
